<?xml version="1.0"?>

<launch>
  <arg name="notes" default="No notes provided."/>
  <arg name="dry_run" default="false"/>
  <arg name="test" default="false" />

  <include file="$(find droplet_underwater_assembly)/description.launch" />

  <node pkg="nodelet" type="nodelet" name="bluerov_nodelet_manager" args="manager" output="screen" respawn="true">
      <param name="num_worker_threads" value="3" />
  </node>

  <include file="$(find droplet_underwater_assembly)/stag.launch"/>


  <group unless="$(arg test)">
    <include file="$(find  mini_ahrs_ros)/launch/mini_ahrs_standalone.launch"/>
    <include file="$(find droplet_underwater_assembly)/apm.launch" />

    <include file="$(find spinnaker_sdk_camera_driver)/launch/acquisition.launch">
      <arg name="nodelet_manager_name" value="bluerov_nodelet_manager"/> 
      <arg name="config_file" value="$(find droplet_underwater_assembly)/param/flir_pool_calibration_07-13-large-checkers.yaml"/>
      <arg name="start_nodelet_manager" value="false"/>
      <arg name="color" value="false"/>
      <arg name="exposure_time" value="9000"/>
    </include>

    <node pkg="rosbag" type="record" name="experiment_rosbag" args="-o /home/bluerov/8-31-system-trials /camera_array/cam0/camera_info /camera_array/cam0/image_raw/compressed /rosout /bluerov_controller/ar_tag_detector /tf /tf_static /mavros/rc/override /mini_ahrs_ros/imu /goal_pose /droplet_underwater_assembly/build_phase /mavros/imu/static_pressure /mavros/battery"></node>

  </group>

  <node pkg="droplet_underwater_assembly" output="screen" respawn="false" type="assembly_main.py" name="assembly_main_node" required="true"> 
    <param name="dry_run" type="bool" value="$(arg dry_run)" unless="$(arg test)"/>
    <param name="dry_run" type="bool" value="true" if="$(arg test)"/>
    <param name="build_plan_file" type="string" value="$(find droplet_underwater_assembly)/param/test_compiled_build_plan.txt"/>
  </node>

  <!--<node pkg="droplet_underwater_assembly" output="screen" respawn="false" required="true" type="flash_detector_node.py" name="flash_detector"/>-->
</launch>
