<?xml version="1.0"?>

<launch>
    <include file="$(find spinnaker_sdk_camera_driver)/launch/acquisition_node.launch">
      <arg name="node_name" value="downward_camera_node"/>
      <!--<arg name="config_file" value="$(find droplet_underwater_assembly)/param/flir_senko_land_calibration.yaml"/>-->
      <arg name="config_file" value="$(find droplet_underwater_assembly)/param/flir_pool_calibration_07-13-large-checkers.yaml"/>
      <arg name="color" value="false"/>
      <arg name="exposure_time" value="10000"/>
    </include>

    <node pkg="droplet_underwater_assembly" output="screen" respawn="false" type="breadcrumb_localizer.py" name="breadcrumb_localizer_node" required="false">
        <remap from="image" to="/camera_array/cam1/image_raw"/>
        <remap from="camera_info" to="/camera_array/cam1/camera_info"/>
    </node>
</launch>