<?xml version="1.0"?>
<launch>
	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 2.00 /home/sam/ros-catkin-workspace/data_calibrations_for_monika/in_sam_camera_tube_03_03/in_sam_camera_tube_small_checkers_water_2.bag"/>
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera_array/cam1/image_raw raw out:=/image_raw"/>
    <node pkg="camera_calibration" name="calibrator" output="screen" type="cameracalibrator.py" args="--size 8x6 --square 0.028 image:=/image_raw"/>
</launch>
