<?xml version="1.0"?>

<launch>
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 1.5 /home/rlab/laser-localization-scanning/12_17_2021/laser-loc-day-two_2021-07-28-13-58-59.bag"/>
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera_array/cam0/image_raw raw out:=/image_raw"/>
    <node pkg="camera_calibration" name="calibrator" output="screen" type="cameracalibrator.py" args="--size 8x6 --square 0.0303 image:=/image_raw"/>

</launch>
